
@{
    ViewBag.Title = "Company Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model  SalesForce.Domain.Model.Inventory.VatCompanyinformationEntity

<form id="InputForm" action="">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-container-center" id="tb_Container">
        </div>
    </div>

    <div class="md-fab-wrapper">
        <span class="md-fab md-fab-accent" id="note_add" onclick="OpenPopupModel(0);"><i class="material-icons">add</i> </span>
    </div>
    <div class="uk-modal" id="myModal">
        <div class="uk-modal-dialog uk-modal-body uk-modal-dialog-large" id="myModalBody">
            <button class="uk-modal-close uk-close" type="button"></button>
            @Html.HiddenFor(m => m.Id)
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" id="modalTitle"></h3>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Company Name<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Companyname, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Owner Name
                    </label>
                    @Html.TextBoxFor(m => m.Ownername, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Company Category<span class="uk-text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.Categoryid, (List<SelectListItem>)ViewData["CategoryList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Mobile No.
                    </label>
                    @Html.TextBoxFor(m => m.Mobileno, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Address<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Address, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        TIN No.
                    </label>
                    @Html.TextBoxFor(m => m.Tin, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Post Code<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Postcode, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Short Name
                    </label>
                    @Html.TextBoxFor(m => m.Shortname, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Mushak<span class="uk-text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.Mushak, (List<SelectListItem>)ViewData["MushakList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Owner Type
                    </label>
                    @Html.DropDownListFor(m => m.Ownertype, (List<SelectListItem>)ViewData["OwnerTypeList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Economic Activity<span class="uk-text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.Economicactivity, (List<SelectListItem>)ViewData["EconomicActList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Business Type
                    </label>
                    @Html.DropDownListFor(m => m.Businesstype, (List<SelectListItem>)ViewData["BusinessTypeList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Contact No.<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Contactno, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Contact Person
                    </label>
                    @Html.TextBoxFor(m => m.Contactperson, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>Location<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Location, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Central Reg.
                    </label>
                    @Html.DropDownListFor(m => m.Centralreg, (List<SelectListItem>)ViewData["StatusList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>BIN No<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Binno, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        NID No.
                    </label>
                    @Html.TextBoxFor(m => m.Nidno, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>District<span class="uk-text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.District, (List<SelectListItem>)ViewData["DistrictList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Thana
                    </label>
                    @Html.DropDownListFor(m => m.Thana, (List<SelectListItem>)ViewData["ThanaList"], new { @class = "md-input md-input-success label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <label>E-Mail<span class="uk-text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-1-2">
                    <label>
                        Website
                    </label>
                    @Html.TextBoxFor(m => m.Website, new { @class = "md-input label-fixed" })
                </div>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-mini md-btn-success" id="submitBtn" onclick="SubmitData();">Create</button>
            </div>

        </div>
    </div>
</form>
<!--  forms advanced functions -->
<script type="text/javascript" src="@Url.Content(" ~/Altair/assets/js/pages/forms_advanced.min.js")"></script>
<!-- datatables -->
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
<!-- datatables buttons-->
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/datatables-buttons/js/dataTables.buttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/assets/js/custom/datatables/buttons.uikit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/jszip/dist/jszip.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/pdfmake/build/pdfmake.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/pdfmake/build/vfs_fonts.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/datatables-buttons/js/buttons.colVis.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/datatables-buttons/js/buttons.html5.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Altair/bower_components/datatables-buttons/js/buttons.print.js")"></script>
<!-- datatables custom integration -->
<script type="text/javascript" src="@Url.Content("~/Altair/assets/js/custom/datatables/datatables.uikit.js")"></script>
<!--  datatables functions -->
<script type="text/javascript" src="@Url.Content("~/Altair/assets/js/pages/plugins_datatables.js")"></script>

<script type="text/javascript">

    function OpenPopupModel(elem) {
        if (elem === 0) {
            $("#Companyname").val("");
            $("#Ownername").val("");
            $("#Categoryid").val("");
            $("#Mobileno").val("");
            $("#Address").val("");
            $("#Tin").val("");
            $("#Postcode").val("");
            $("#Shortname").val("");
            $("#Mushak").val("");
            $("#Ownertype").val("");
            $("#Economicactivity").val("");
            $("#Businesstype").val("");
            $("#Contactno").val("");
            $("#Contactperson").val("");
            $("#Location").val("");
            $("#Centralreg").val("");
            $("#Binno").val("");
            $("#Nidno").val("");
            $("#District").val("");
            $("#Thana").val("");
            $("#Email").val("");
            $("#Website").val("");

            $("#Id").val("0");
            $("#submitBtn").removeClass("md-btn-success md-btn-danger").addClass("md-btn-success").text("Create");
            $("#modalTitle").text("Create Company Info");
        }
        else {
            $.post("/Admin/Settings/GetSingleComInfoRecordById?Id=" + elem, function (data) {
                $("#Companyname").val(data.Companyname);
                $("#Ownername").val(data.Ownername);
                $("#Categoryid").val(data.Categoryid);
                $("#Mobileno").val(data.Mobileno);
                $("#Address").val(data.Address);
                $("#Tin").val(data.Tin);
                $("#Postcode").val(data.Postcode);
                $("#Shortname").val(data.Shortname);
                $("#Mushak").val(data.Mushak);
                $("#Ownertype").val(data.Ownertype);
                $("#Economicactivity").val(data.Economicactivity);
                $("#Businesstype").val(data.Businesstype);
                $("#Contactno").val(data.Contactno);
                $("#Contactperson").val(data.Contactperson);
                $("#Location").val(data.Location);
                $("#Centralreg").val(data.Centralreg);
                $("#Binno").val(data.Binno);
                $("#Nidno").val(data.Nidno);
                $("#District").val(data.District);
                $("#Thana").val(data.Thana);
                $("#Email").val(data.Email);
                $("#Website").val(data.Website);

                $("#Id").val(data.Id);
                $("#submitBtn").removeClass("md-btn-success md-btn-danger").addClass("md-btn-danger").text("Update");
                $("#modalTitle").text("Update Company Info");
            });
        }
        //UIkit.modal("#myModal").show();
        UIkit.modal("#myModal", { bgclose: false, keyboard: false }).show();
    }


    GetSearchResult();
    function GetSearchResult() {
        $.post("/Admin/Settings/GetCompanyInfoList", function (data) {
            $("#tb_Container").html(data);
            altair_datatables.dt_rkCustom("#rk_dtInfo2", ".rk_dtButton2", 380);
        });
    }

    function SubmitData() {
        var errorMsg = '';
        UIkit.modal.confirm('Are you sure to Submit this?', function () {
            if (!$("#Companyname").val()) {
                errorMsg = "Sorry, Please Check Required Fields.";
                UIkit.modal.alert(errorMsg);
            }
            else {
                $.post("/Admin/Settings/AddUpdateCompanyInfo", $("#InputForm").serialize(), function (data) {
                    if (data.Success) {
                        UIkit.modal.alert(data.Msg);
                        UIkit.modal("#myModal").hide();
                        GetSearchResult();
                    }
                    else {
                        UIkit.modal.alert(data.Msg);
                    }
                });
            }
        });
    }
</script>



